<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="connectionString" value="Server=tcp:bcd9ryuhaj.database.windows.net,1433;Database=nslogazuredb;User ID=nslogazuredbsa@bcd9ryuhaj;Password=9UWxHHbjh2IpMZMRgGB21JfZpdfoRVX6zx9biT2IKJWUXudqw3gUkBi4tqrlD6yF;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" /> 
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.0.0" newVersion="2.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>